@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: #141414;
}

.point {
  position: relative;
  width: 100%;
  height: 100%;
}

.point::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.31) 1px, transparent 1px);
  background-size: 50px 50px; /* Taille des points */
  z-index: -2;
}

a:hover {
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

